/*
 * Sassiin CSS - Utils
 */

.relative      { position: relative; }
.text-center   { text-align: center; }
.text-left     { text-align: left; }
.text-right    { text-align: right; }
.hide          { display: none; }
.flex          { display: flex; }
.flex-middle   { align-items: center; }
.flex-center   { justify-content: center; }
.flex-wrap     { flex-wrap: wrap; }
.grid          { display: grid; }
.cf::after     { content: ""; clear: both; display: table; }
.float-left    { float: left;}
.float-right   { float: right; }
.margin-l-auto { margin-left: auto; }
.margin-r-auto { margin-right: auto; }

// Text meant only for screen readers.
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.iframe-16-9 {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}